@page
@model TokenAuthSystemMVC.Areas.Identity.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>UserModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserModel.Id" />
            <div class="form-group">
                <label asp-for="UserModel.Email" class="control-label"></label>
                <input asp-for="UserModel.Email" class="form-control" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UserName" class="control-label"></label>
                <input asp-for="UserModel.UserName" class="form-control" />
                <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
            </div>
            <div>
                <thead>
                    <td><b>Roles: </b></td>
                </thead>
                @foreach (var item in Model.UserRoles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>
                }
            </div>
            <div class="checkbox mb-3">
                <label asp-for="IsAdmin" class="form-label">
                    <input class="form-check-input" asp-for="IsAdmin" />
                     @Html.DisplayNameFor(m => m.IsAdmin)
                </label>
            </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
