@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<p>
    This is an ASP.NET Web Api project with Identity endpoints and JWT token
    authentication and Angular framework as frontend.
</p>
<p>
    The use of these technologies makes it possible to develop this project
    quickly and easily.
</p>
<h3>References</h3>
<ul>
    <li>
        <a target="_blank"
           href="https://youtu.be/8J3nuUegtL4?si=E1dGoUkWzjzcyTbu">
            .NET 8 Authentication with Identity in a Web API with Bearer Tokens &
            Cookies 🔒
        </a>
    </li>
    <li>
        <a target="_blank"
           href="https://www.c-sharpcorner.com/article/jwt-authentication-and-authorization-in-net-6-0-with-identity-framework/">
            JWT Authentication And Authorization In .NET 6.0 With Identity
            Framework
        </a>
    </li>
    <li>
        <a target="_blank" href="https://getbootstrap.com/docs/5.2/examples/">Bootstrap Examples</a>
    </li>
    <li>
        <a target="_blank"
           href="https://youtu.be/lXYLTTPM5x4?si=2rVHjlc4VKa9UnX9">Learn FULL STACK Web Development in 2 HOURS! ASP.NET & Angular</a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=dtthbiP3SE0">CRUD with Angular 14 & .NET 6 🚀 Web API, EF Core & SQL Server</a>
    </li>
</ul>