@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Features";
}

<h1>Features</h1>

<p>This application has the following list of features:</p>

<ul>
    <li>User authentication and authorization.</li>
    <li>Endpoints protected by JWT tokens.</li>
    <li>User roles: Admin, Moderator, User</li>
</ul>
